# Python
__pycache__/
*.py[cod]
*.pyo
*.db
db.sqlite3

# Django
*.log
media/
staticfiles/

# Environment
.env
.env.*

# Virtual environment
venv/
env/

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db